<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Chat Room - Jobsity :: </title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script defer src="/static/js/all.min.js"></script> <!--load all styles -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/jquery.tojson.js" type="text/javascript"></script>

<link href="/static/css/all.min.css" rel="stylesheet"> <!--load all styles -->
<link href="/static/css/style.css" rel="stylesheet"> <!--load all styles -->
<style>
    body    { padding-top:50px; }
</style>