<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/socket.io.client.js"></script>
</head>
<body class="container">
<header>
    <%- include ('partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h4><% if (user) { %>
         <%- user.email %> 
         <ul class="nav navbar-nav">
            <li><a href="/logout">Logout</a></li>
        </ul>
        <% } %></h4>
        <!-- <img src="static/images/chat.png" alt="Chat Image" height="100" width="100%"> -->
        <div id="messages">
            <!-- <p class="rounded-circle">hola</p> -->
        </div>
        <form>
            <div class="form-group">
                <label for="input-message">Message</label>
                <input type="text" class="form-control" id="input-message" aria-describedby="message-help" placeholder="Message...">
                <small id="message" class="form-text text-muted">Write the message that you want to send.</small>
            </div>
            <button id="send-msg" type="submit" class="btn btn-primary">Send</button>
          </form>
    </div>
</main>

<footer>
    <%- include ('partials/footer') %>
</footer>
</body>
</html>